[user]
  name = Javier López Úbeda
  email = jlopezcur@gmail.com
  signingkey = /home/jlopez/.ssh/id_rsa.pub

[pull]
  rebase = true

[color "status"]
  branch = magenta
  untracked = cyan
  unmerged = yellow

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  st = status --short
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ci = commit
  br = branch
  co = checkout

[init]
  defaultBranch = master

[core]
  pager = delta
  editor = nvim

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  light = false

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
[gpg]
  format = ssh
[commit]
  gpgsign = true
