[user]
	name = Javier López Úbeda
	email = jlopezcur@gmail.com
[pull]
	rebase = false
[color "status"]
	branch = magenta
	untracked = cyan
	unmerged = yellow
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
[init]
	defaultBranch = master
