[user]
	name = Javier López Úbeda
	email = jlopezcur@gmail.com
[pull]
	rebase = false
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[color "status"]
	branch = magenta
	untracked = cyan
	unmerged = yellow
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
