# Tab cycle over results

TAB: menu-complete

set show-all-if-ambiguous on
set show-all-if-unmodified on

# Put a slash at the end of dirs and symlink dirs
# ------------------------------------------------------------------------------

set mark-directories on

# Enable completion colors
# ------------------------------------------------------------------------------

set colored-stats on
set visible-stats on
set mark-symlinked-directories on
set colored-completion-prefix on
set menu-complete-display-prefix on

# Ignore case-sensitive on completion
# ------------------------------------------------------------------------------

set completion-ignore-case on

# Complete only the missing part 
# ------------------------------------------------------------------------------

set completion-prefix-display-length 3

# Disable pagination on complete list
# ------------------------------------------------------------------------------

set page-completions off
set skip-completed-text on

set bell-style visible

# Key Bindings
# ------------------------------------------------------------------------------

"\C-k": history-search-backward
"\C-j": history-search-forward

"\C-h": backward-word
"\C-l": forward-word

