set show-all-if-ambiguous On
set show-all-if-unmodified On
set colored-stats On
set visible-stats On
set mark-symlinked-directories On
set colored-completion-prefix On
set menu-complete-display-prefix On
set completion-ignore-case On
set completion-prefix-display-length 3
