* {
  border: none;
  border-radius: 0;
	font-size: 16px;
	font-family: SauceCodePro Nerd Font;
}

window#waybar {
	background: rgba(0, 0, 0, 0.8);
	color: #888;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#workspaces button {
	padding: 0 5px;
  background: transparent;
	color: #fdf6e3;
  border-bottom: 4px solid transparent;
}
#workspaces button.focused {
	color: #268bd2;
  border-bottom: 4px solid #268bd2;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#disk,
#custom-updates,
#temperature,
#bluetooth,
#idle_inhibitor {
	padding-right: 10px;
}
#battery {
	padding-right: 15px;
}

#network {
	padding: 0 5px 0 0;
}

#window {
  padding: 0 10px;
}

#battery.critical {
  background: red;
}
