* {
  border: none;
  border-radius: 0;
	font-size: 16px;
	font-family: SauceCodePro Nerd Font;
}

window#waybar {
	background: rgba(0,0,0,0);
	color: #888;
}

#workspaces button {
	padding: 0 5px;
  background: transparent;
	color: #fdf6e3;
  border-bottom: 2px solid transparent;
}
#workspaces button.focused {
	color: #268bd2;
  border-bottom: 2px solid #268bd2;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#custom-updates,
#temperature,
#idle_inhibitor {
	padding: 0 10px;
}

#window {
  padding: 0 10px;
}

#battery.critical {
  background: red;
}

#custom-sway-scratch.many {
  color: rgba(86, 182, 194, 1);
}

#custom-sway-scratch.one {
  color: rgba(97, 175, 239, 1);
}
