* {
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-family: FiraCode Nerd Font;
}

/* Bars */

window#waybar {
  color: #999;
  background: rgba(0, 0, 0, 0.7);
}
window#waybar.top {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

/* Workspaces buttons */

#workspaces button {
  padding: 0 4px;
  background: transparent;
  color: #999;
}
#workspaces button.focused {
  color: #ccc;
  font-weight: 900;
}
#workspaces button.urgent {
  background: rgba(214, 93, 14, 0.7);
}

/* Modules padding */

#clock,
#pulseaudio,
#backlight,
#memory,
#cpu,
#disk,
#mpd,
#custom-reminders,
#custom-updates,
#custom-updates-aur,
#custom-mouse-bat,
#custom-keyboard-bat,
#custom-weather,
#custom-quit,
#custom-bluetooth,
#custom-calendar,
#custom-cmus,
#custom-times,
#custom-tasks,
#custom-videorec,
#custom-gifrec,
#custom-vpn,
#mode,
#temperature,
#bluetooth,
#network,
#battery,
#idle_inhibitor {
  padding: 0 12px;
}

/* Modules status */

#cpu.warning,
#memory.warning,
#battery.critical,
#disk.warning {
  color: orange;
}

#cpu.critical,
#temperature.critical,
#disk.critical,
#battery.critical,
#memory.critical {
  color: red;
}

#custom-updates,
#custom-updates-aur {
  color: orange;
}
#custom-scratchpad-indicator {
  color: black;
  padding: 0 4px;
  background: lightgrey;
  margin: 5px;
  font-size: 12px;
}

#custom-videorec,
#custom-gifrec,
#mode {
  color: red;
}

#custom-vpn.connected {
  color: orange;
}
