set imap_user = "example@domain.ext"
set imap_pass = "[password]"
set smtp_url = "smtp://example@domain.ext@outlook.office365.com:587/"
set smtp_pass = "[password]"
set from = "example@domain.ext"
set realname = "Example"
set folder = "imaps://outlook.office365.com/"
set spoolfile = "+INBOX"
set record = "+INBOX"
set header_cache = ~/.mutt/com.office365.outlook.example/cache/headers
set message_cachedir = ~/.mutt/com.office365.outlook.example/cache/bodies
set certificate_file = ~/.mutt/com.office365.outlook.example/certificates
