set imap_user = "example@gmail.com"
set imap_pass = "[get on gmail configuration]"
set smtp_url = "smtp://example@smtp.gmail.com:587/"
set smtp_pass = "[get on gmail configuration]"
set from = "example@gmail.com"
set realname = "Example"
set folder = "imaps://imap.gmail.com:993"
set spoolfile = "+INBOX"
set postponed = "+[Gmail]/Drafts"
set header_cache = ~/.mutt/com.gmail.example/cache/headers
set message_cachedir = ~/.mutt/com.gmail.example/cache/bodies
set certificate_file = ~/.mutt/com.gmail.example/certificates
