# Folder hooks
# folder-hook 'account.com.gmail.example' 'source ~/.config/mutt/account.com.gmail.example'
# folder-hook 'account.com.office365.outlook.example' 'source ~/.config/mutt/account.com.office365.outlook.example'

# Default account
# source ~/.config/mutt/account.com.gmail.example

# Macros for switching accounts
# macro index <f2> '<sync-mailbox><enter-command>source ~/.config/mutt/account.com.gmail.example<enter><change-folder>!<enter>'
# macro index <f3> '<sync-mailbox><enter-command>source ~/.config/mutt/account.com.office365.outlook.example<enter><change-folder>!<enter>'

# Fetch mail shortcut
bind index G imap-fetch-mail

# Colors
source ~/.config/mutt/color.muttrc
